body {
    background-color: #3AAFB9;
    text-align: center;
    color: #093A3E;
    font-family: 'Handlee', cursive;
}

.hero {
    border: 5px solid #64E9EE;
    background-image: url(images/sac-water-tower.jpg);
    background-position: center;
    background-size: cover;
    padding: 10px 0 250px 0;
    margin: 25px 15px 0 15px;
    display: flex;
    justify-content: center;
}

.cards {
    display: flex;
    text-align: center;
    margin: 0 25px;
    justify-content: center;
}

.card {
    padding: 10px;
    margin: 15px;
    background-color: #64E9EE;
    border-radius: 10%;
    box-shadow: 3px 3px teal; 
}

.card-img {
    width: 200px;
    border-radius: 35%;
    padding: 5px;
}

.photo-credit {
    text-align: end;
    padding: 0 25px 0 0;
}

.road-trip {
    background-color: #64E9EE;
    padding: 10px 25px;
    margin: 10px 15px;
    box-shadow: 3px 3px teal;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    color: #093A3E;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-shadow: 2px 2px yellow;
}

/* @media screen and (max-width: 850px) {

    .cards {
        display: block;
    }


} */
